*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: relative;
    width: 1050px;
    height: 90px;
    background: linear-gradient(rgb(26, 26, 26), rgb(58, 58, 58));
    margin: 0px auto;
    color: white;
}

header img{
    width: 150px;
    float: left;
    margin-top: 4px;
    position: absolute;
    left: 160px;
}

header .menu{
    width: 900px;
    float: left;
    position: relative;
}

header .menu ul li{
    float: left;
    list-style: none;
}

header .menu .menu1{
    position: absolute;
    left: 785px;
    top: 20px;
}

header .menu .menu1 li{
    padding-right: 20px;
}

header .menu .menu2 li{
    padding-right: 20px;
}

header .menu .menu2{
    position: absolute;
    left: 409px;
    top: 50px;
}

header .menu ul li a{
    color: white;
    text-decoration: none;
}

#slider{
    position: relative;
    overflow: hidden;
    margin: 0px 250px;
}

#slider figure{
    position: relative;
    width: 1000%;
    animation: slider 20s infinite;
}

#slider figure img{
    width: 10%;
    float: left;
    filter: brightness(50%);
}

@keyframes slider{
    0%{left: 0;}
    20%{left: 0;}
    25%{left: -100%;}
    45%{left: -100%;}
    50%{left: -200%;}
    70%{left: -200%;}
    75%{left: -300%;}
    95%{left: -300%;} 
    100%{left: 0;}
}

h1{
    position: absolute;
    color: white;
    top: 50px;
    left: 50px;
}

.h1{
    position: absolute;
    top: 80px;
    left: 120px;
}

#slider p{
    position: absolute;
    text-align: left;
    color: white;
    top: 350px;
    left: 50px;
}

section{
    width: auto;
    margin: 0px 250px;
}

.leftside{
    width: 30%;
    height: 660px;
    float: left;
    background: rgb(238, 236, 236);
}

.leftside .h3{
    margin-top: 20px;
    text-align: center;
}

.rightside{
    width: 70%;
    height: 700px;
    float: left;
}

form{
    margin-top: 15px;
}

.radio3{
    position: relative;
    left: -13px;
}

.radio4{
    position: relative;
    left: 1px;
}

.main{
    text-align: center;
}

.city{
    margin: 0 11.5%;
}

.city1{
    margin: 0 11.5%;
}

.city input{
    width: 195px;
    height: 20px;
}

.city1 input{
    width: 195px;
    height: 20px;
}

:placeholder-shown{
    text-indent: 10px;
    font-size: 11px;
}

.city{
    margin-top: 20px;
}

.city1{
    margin-top: 20px;
}

.datetime{
    margin: 20px 11.5%;
}

.datetime1{
    margin: 20px 11.5%;
}

.passengers{
    margin: 20px 11.5%;
}

.submit{
     margin: 0px -8%;
}

.passengers input{
    width: 100px;
    height: 20px;
    margin: 0px 11.5%;
}

.submit input{
    width: 55px;
    height: 25px;
    background: #00aeef;
    cursor: pointer;
}

.news div p{
    color: #00aeef;
}


.news h3{
    margin: 25px 21% 10px 21%;
}

.news div{
    margin: 10px 21%;
}

hr{
    margin: 15px 40px 0 21%;
}

.information{
    margin: 20px 7%;
}

.rightside .information h3{
    margin: 0;
    padding: 0;
}

.information p{
    margin-top: 20px;
    color: #00aeef;
}

.aircraft{
    margin: 20px 9.3%;
}

.aircraft ul li{
    font-weight: bold;
}

.aircraft p{
    margin-top: 10px;
}

.aircraft span{
    position: relative;
    top: 3px;
    left: 10px;
    width: 95px;
    height: 30px;
    border: 1px solid rgb(26, 26, 26);
    border-radius: 3px;
    float: right;
    background: linear-gradient(rgb(26, 26, 26), rgb(58, 58, 58));
    color: white;
    font-size: 12px;
    line-height: 30px;
    padding-left: 12px;
    cursor: pointer;
}

.charters{
    margin: 40px 9.3%;
}

.charters ul li{
    font-weight: bold;
}

.charters p{
    margin-top: 10px;
}

.charters .fleet{
    position: relative;
    top: 3px;
    left: 5px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #00aeef;
    color: white;
    border-radius: 3px;
    float: right;
    background: #00aeef;
    font-size: 12px;
    padding-left: 11px;
    cursor: pointer;
}

.charters .reservation{
    float: right;
    position: relative;
    top: 3px;
    left: 11px;
    width: 105px;
    height: 30px;
    border: 1px solid rgb(26, 26, 26);
    border-radius: 3px;
    background: linear-gradient(rgb(26, 26, 26), rgb(58, 58, 58));
    color: white;
    font-size: 12px;
    line-height: 30px;
    padding-left: 12px;
    cursor: pointer;
}

.charters span{
    margin-left: 5px;
}

.clients{
    width: 100%;
    margin: 80px 7%;
}

.client, .client1{
    width: 50%;
    float: left;
}

.client p{
    margin-top: 20px;
}

.client1{
    width: 173px;
    height: 195px;
    margin-left: 40px;
    background: #00aeef;
    border: 1px solid #00aeef;
    border-radius: 3px;
    color: white;
}

.client1 p{
    padding: 25px 20px 15px 20px;
}

.client1 span{
    float: right;
    padding-right: 18px;
}

footer{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    float: left;
    width: 1050px;
    height: 90px;
    background: linear-gradient(rgb(26, 26, 26), rgb(58, 58, 58));
    margin: auto;
    color: white;
    text-align: center;
}

footer span{
    line-height: 90px;
    margin: 100px;
}
























